nav{
  border-bottom: 4px solid #e65100;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
h3 {
  color: white;
}
.big-boi, .commit-history{
  height: 120vh;
}
.big-boi{
  margin: 0 0 0 0;
}

.commit-history{
  margin: 0 0 0 0;
  border-left: 4px solid grey;
  background-color: rgba(66, 66, 66, 0.8);
  overflow: scroll;
}

.main-body{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4c/Roland_TR-808_%28large%29.jpg");
  width: 100%;
  background-size: 115% 107%;
  background-position: center;
}

.card{
  padding: 10px;
  opacity: 1;
}

.title{
  color: white;
}

.new-commit{
  position: fixed;
  bottom: 2%;
  left: 2%;
  margin-top: 0%;
  /*padding-bottom: 5%;*/
}

.nav-wrapper{
  width:95%;
}
