nav{
  border-bottom: 4px solid #e65100;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
h3 {
  color: white;
}
.big-boi, .commit-history{
  height: 120vh;
}

@media (max-width: 600px) {
  .big-boi {
    height: 50vh;
  }
}

.collaborator-container{
  position: relative;
  /*top: 30vh;*/
  width: 100%;
}

.big-boi{
  margin: 0 0 0 0;
}

.commit-history{
  margin: 0 0 0 0;
  border-left: 4px solid grey;
  background-color: rgba(66, 66, 66, 0.8);
  overflow: scroll;
}

.main-body{
  background-image: url("../images/Opacity60Logo60.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.card{
  padding: 10px;
  opacity: 1;
}

.title{
  color: white;
}

.new-collaborator{
  position: fixed;
  bottom: 2%;
  left: 25%;
  margin-top: 0%;
}

.new-commit{
  position: fixed;
  bottom: 2%;
  left: 5%;
  margin-top: 0%;
}

.nav-wrapper{
  width:95%;
}

.exmaple-commit{
  margin-top: 0%;
}
