.background-808 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4c/Roland_TR-808_%28large%29.jpg");
  width: 100%;
  background-size: 100% 100%;
  /*height: 200px;*/
  background-position: top;
}
