nav{
  border-bottom: 4px solid #e65100;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.big-boi, .commit-history{
  height: 120vh;
}
.big-boi{
  margin: 0 0 0 0;
}

.commit-history{
  margin: 0 0 0 0;
  border-left: 4px solid grey;
  background-color: rgba(66, 66, 66, 0.8);
  overflow: scroll;
}

.main-body{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4c/Roland_TR-808_%28large%29.jpg");
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
}

.card{
  padding: 10px;
  opacity: 1;
}

.title{
  color: white;
}

.new-commit{
  position: fixed;
  bottom: 1%;
  left: .5%;
  padding-bottom: 5%;
}
html {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4c/Roland_TR-808_%28large%29.jpg");
}

body {
  font-family: "source-sans-pro";
  color: #383838;
  background: fff#;
  width: 75%;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.meet-the-team {
  padding-top: 20px;
}

.title {
  color: white;
  text-align: center;
  margin-top: 5px;
  position: relative;
  text: 1rem;
}

.title:after {
  background: #dddc23;
    content: "";
    height: 8px;
    left: 0;
    margin: 15px auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 30px;
    width: 94px;
}

#logo {
  transition: transform 0.5s;
  color: white;
  display: block;
  margin: 25px auto 0px;
}

#logo:hover {
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

.content {
  margin: 16px 50px;
}

.team-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  padding-bottom: 30px;
}

.team-item {
  margin: 10px;
  width: 400px;
  height: 400px;
  margin-top: 10px;
  text-align: center;
  position: relative;
  transition: transform 0.5s;
}

.team-item img {
  border-radius: 2px;
}

.team-info {
  padding: 20px;
  margin-top: auto;
  justify-content: center;
  position: relative;
  top: -51%;
  transform: translateY(-50%);
}

.overlay {
  background: #e65100;
  width: 400px;
  height: 400px;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  display: none;

  border-radius: 2px;
}

.team-name {
  font-size: 24px;
  color: white;
  -webkit-font-smoothing: antialiased;

  -webkit-margin-before: 0.2em;

}

.team-job {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-style: italic;
  color: #383838;
}

.team-bio {
  font-size: 14px;
  color: #383838;
  -webkit-font-smoothing: antialiased;
}

.team-contact {
  color: #383838;
  -webkit-font-smoothing: antialiased;
  -webkit-margin-before: 0.2em;
}

.team-contact a {
	padding: 0 20px;
	height: 45px;
	line-height: 45px;
  text-decoration: none;
  color: #222;
}

.team-contact a:hover {
  text-decoration: underline;
}

.effect a:hover,
.effect a:focus {
	outline: none;
}

.effect::before,
.effect::after {
	position: absolute;
	width: 94px;
	height: 2px;
	content: '';
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;

  background: linear-gradient(to right, rgba(122,122,122, 0), rgba(122,122,122, 0.75), rgba(122,122,122, 0));
}

.effect::before {
	top: 0;
	left: 0;
	-webkit-transform: perspective(1px) rotate(90deg);
	-moz-transform: perspective(1px) rotate(90deg);
	transform: perspective(1px) rotate(90deg);
  -webkit-backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.effect::after {
	right: 0;
	bottom: 0;
	-webkit-transform: perspective(1px) rotate(90deg);
	-moz-transform: perspective(1px) rotate(90deg);
	transform: perspective(1px) rotate(90deg);
  -webkit-backface-visibility: hidden;
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.effect:hover::before,
.effect:hover::after,
.effect:focus::before,
.effect:focus::after {
	opacity: 1;
}

.effect:hover::before,
.effect:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.effect:hover::after,
.effect:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}
